@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgBx img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .contentBx{
    display: flex;
    width: 50%;
    height: 100;
    justify-content: center;
    align-items: center;
}
section .contentBx .formBx{
    width: 60%;
}

section .contentBx .formBx .logo{
    margin-bottom: 50px;
}

section .contentBx .formBx h2{
    color: #000000;
    font-weight: 800;
    font-size: 2.0em;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
section .contentBx .formBx p{
    color: #555555;
    font-weight: 300;
    margin-bottom: 20px;

}

section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color:black;
    font-weight: 16px;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx input[type="button"]{
    background: #1AAB71;
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx input[type="button"]:hover{
    background: #14ee97;
    color: rgb(182, 182, 182);
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .remember{
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: 400;
    font-size: 14px;
    float: left;

}
section .contentBx .formBx .forget a{
    color: rgb(0, 98, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    float: right;

}

section .contentBx .formBx .inputBx p{
    color:black;
    font-weight: 400;
    font-size: 14px;
    
}
section .contentBx .formBx .inputBx p a{
    color: rgb(0, 98, 255);
    text-decoration: none;
}

@media (max-width: 768px)
{
    section .imgBx{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx{
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 /0.9);
        margin: 50px;
    }
}