/*apa yang bisa kamu lakukan di sobathewan*/
.headline-call-to-action{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.card-features{
    width: 370px; 
    background-color: #FFB531; 
    border-radius: 4%; 
    padding: 0 40px;
    transition: transform .2s;
}

.card-features:hover{
    transform: scale(1.02);
}

.link-to-feature{
    color: black;
    text-decoration: none;
}

.link-to-feature:hover{
    color: black;
    text-decoration: none;
}

.img-features-1{
    padding: 20px;
}

.img-features-2{
    padding: 25px;
    margin-top: -8px;
}

.feature-heading{
    font-weight: bold;
}

/*Untuk konten */
/*jumbotron gambar hewan*/
.jumbotron{
    background-color: #A0FFE6;
    padding: 40px 0;
}

.opening-jumbotron-text{
    font-size: 16px;
    font-weight: bold;
}

.persuasive-text{
    font-size: 28px;
    font-weight: bold;
}

/*our team*/
.our-team{
    padding: 40px 0;
}

.our-team-title{
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
}

.our-team-img{
    border-radius: 50%;
}

.our-team-name{
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
}

.our-team-member a{
    color: black;
    text-decoration: none;
}

.our-team-member{
    text-align: center;
    transition: transform 1s;
}

.our-team-member:hover{
    transform: scale(0.95);
}

.carousel-container-utama{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
.carousel-container{
    display: flex;
    flex-grow: 1;
}

.card{
    margin: 50px;
    border-radius: 32px;
    border-style: none;
    padding: 10px;
    background: #D2F2E7;
    box-shadow:  5px 5px 8px #d9d9d9,-5px -5px 8px #ffffff;
    width: 450px; 
    max-width:450px; 
    display: inline-block;

}


.card-title{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.card button{
    border-radius: 20px;
    border-style: none;
    box-shadow:  2px 1px 4px rgb(182, 182, 182);
    background-color: #A0FFE6;
    
}
.card button  a{
    color: black;
    font-weight: 500;
}

button{
    border-radius: 25px;
    text-decoration: none;
    margin: 0px 10px;
    padding: 12px 25px;
    border-style: none;
    box-shadow:  2px 1px 4px rgb(182, 182, 182);
    background-color: #A0FFE6;
}
button a{
    color: black;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

button a:hover{
    text-decoration: none;

}

hr{
    border-top: 1px black;
}